$minWidth: 375;
$maxWidth: 1440;
$maxWidthContainer: 1100;
$desctop: $maxWidthContainer + 12;
$mobile: 479.98;

$bgColor: #ffffff;
$textColor: #000000;

$fontFamily: "Open Sans";
$fontSize: 14;